<div class="container">
  <h1>Add a New Product to a Sector</h1>

  <%= simple_form_for @product, html: { multipart: true } do |f| %>
    <div class="form-group">
      <%= f.input :name, label: "Nom du Produit", input_html: { class: "form-control" } %>
    </div>
    <div class="form-group">
      <%= f.input :price, label: "Prix", as: :decimal, input_html: { class: "form-control" } %>
    </div>
    <div class="form-group">
      <%= f.input :description, label: "Description", as: :text, input_html: { class: "form-control" } %>
    </div>
    <div class="form-group">
      <%= f.input :sector_id, label: "Secteur", collection: Sector.all, prompt: "Sélectionnez un secteur", input_html: { class: "form-control" } %>
    </div>
    <div class="form-group">
      <%= f.input :image, label: "Télécharger une Image", as: :file, input_html: { class: "form-control-file" } %>
    </div>

    <% if @product.image.attached? %>
      <div class="form-group">
        <p>Image actuelle :</p>
        <%= image_tag url_for(@product.image), class: "current-image" %>
      </div>
    <% end %>

    <%= f.button :submit, @product.new_record? ? "Créer Produit" : "Mettre à Jour", class: "btn btn-primary" %>
  <% end %>
</div>

